:root {
    --color-dorado: #e8d066;
    --doradogeneral: #e8d066;
}


/* ------------SliderInf------------ */

.barInf {
    color: var(--doradogeneral);
    font-size: larger;
}

.cajaImagenesP img {
    width: 100px;
}

.imagenDetalle {
    width: 540px;
    height: 540px;
}